body {
  font-family: Arial, sans-serif;
  background-image: url(./assets/cats.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 40px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 22px; 
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  font-size: 20px;
}

input, textarea, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #b6b5b5;
  border-radius: 5px;
  box-sizing: border-box;
  font-size:20px;
}

textarea {
  height: 120px; 
}

button {
  background-color: #40BFC1;
  color: white;
  border: none;
  padding: 12px 25px; 
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-top: 20px;
}

button:hover {
  background-color: #40BFC1;
}

.radio-group {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.radio-group input {
  width: 25px;
  padding: 0px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  accent-color: #40BFC1;
}

.radio-group label {
  font-weight: normal;
  margin: 0;
  font-size: 20px;
}
