body {
  font-family: Arial, sans-serif;
  background-image: url(./assets/cats.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  margin: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 0;
  overflow: hidden; 
}

h1 {
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 28px; 
  margin-bottom: 20px;
  text-align: center; 
}

form {
  width: 90%;
  max-width: 400px; 
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ff6b6b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 16px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  font-size: 14px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #b6b5b5;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  
}

textarea {
  height: 80px;
}

button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 15px; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-top: 10px;
}

button:hover {
  background-color: #ff6b6b;
}

.radio-group {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.radio-group input {
  width: 18px; 
  margin: 5px;
  border: none;
  border-radius: 5px;
  accent-color: #ff6b6b;
}

.radio-group label {
  font-weight: normal;
  margin: 0;
  font-size: 14px;
}