body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-top: 15px;
}

button:hover {
  background-color: #ff6b6b;
}

/* Styling for Radio Buttons */
.radio-group {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.radio-group input {
  width: 20px;
  padding: 0px;
  margin:5px;
  border: none;
  border-radius: 5px;
  accent-color: #ff6b6b; /* Modern styling for radio buttons */
}

.radio-group label {
  font-weight: normal;
  margin: 0;
}
