/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF8E7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #40BFC1;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 35px;
    font-weight: bold;
    color: #FFF8E7;
}

.nav-right{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.nav-right div{
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #FFF8E7;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.nav-right div a i{
    font-size: 20px;
}

.login-container{
    max-width: 350px;
    border: 1px solid #40BFC1;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 26px;
    text-align: left;
}

.login-container h2{
    font-size: 35px;
}

.input-container input{
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #FFF8E7;
}
.login-container button{
    background-color: #40BFC1;
    width: 100%;
    padding: 10px 5px;
    margin-top: 20px;
}
.login-container hr{
    margin: 20px;
}
.login-container a{
    text-decoration: none;
    color: #0066c0;
}

